# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/interfaccia/FileContentIndex/393b1e13-d1ea-4a78-a401-27d4ae16443a.vsidx
/.vs/interfaccia/FileContentIndex/4c53a8b8-2c5e-4e2c-95df-84a762c07e8c.vsidx
/.vs/interfaccia/FileContentIndex/d39752b9-375b-4dd1-bb59-41b7079b8a26.vsidx
