# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/interfaccia/FileContentIndex/393b1e13-d1ea-4a78-a401-27d4ae16443a.vsidx
/.vs/interfaccia/FileContentIndex/4c53a8b8-2c5e-4e2c-95df-84a762c07e8c.vsidx
/.vs/interfaccia/FileContentIndex/d39752b9-375b-4dd1-bb59-41b7079b8a26.vsidx
/.vs/interfaccia/FileContentIndex/7b08435f-3acc-4f35-ac38-87f21c20178b.vsidx
/.vs/interfaccia/FileContentIndex/ea603baa-8a04-4333-b3cc-cc5ff1e5a39e.vsidx
/.vs/interfaccia/FileContentIndex/8a82a0f6-1525-4002-87df-049609e70c43.vsidx
/.vs/interfaccia/FileContentIndex/cc186f60-84d6-40ef-8cc9-95a221ac8abc.vsidx
/.vs/interfaccia/FileContentIndex/48cd7741-4a6e-4e0c-a73d-26945f7e2eb2.vsidx
/.vs/interfaccia/FileContentIndex/36be9cfb-ef2d-4966-bd34-efae749b6e80.vsidx
/.vs/interfaccia/FileContentIndex/40d02b57-7567-4376-8bc1-d53fd4233a4b.vsidx
/.vs/interfaccia/FileContentIndex/0f0d3fb1-5138-4e78-8182-6dc2b04d2645.vsidx
/.vs/interfaccia/FileContentIndex/2d756a08-e397-4c98-a272-ef86ec0e1943.vsidx
